<%- include ('../partials/boilerplate') %>
    <div class="data">
        <h3><%=`Name:${emp.name}` %></h3>
        <h3><%=`Age:${emp.age}` %></h3>
        <h3><%=emp.title %></h3>
        <h3><%=`Department: ${emp.department}` %></h3>
        <h3>******************</h3>
    </div>    
<div class="pageTitle">
    <a  href="/emp">back</a>
</div>
    
<%- include ('../partials/end') %>