<%- include ('../partials/boilerplate') %>
   <form class="fill" action="/dep/<%=dep.id%>?_method=PUT" method="POST">
    <input type="text" name="department_name" value="<%= dep.department_name %>" placeholder="Department_Name" />
    <input type="text" name="location" value="<%= dep.location %>" placeholder="Location"/>
    <input type="text" name="email" value="<%= dep.email %>" placeholder="Email"/>
    <input type="submit" value="Update"/>
</form> 
<%- include ('../partials/end') %>