<%- include ('../partials/boilerplate') %>
    <div class="pageTitle">
        <a href="/dep/add">Add New Department</a>      
        <a class="editLink" href="/main">Home</a>
        <a class="editLink" href="auth/logout">logout</a>

        <h2>My Departments:</h2>
       <% for(i of data.dep){ %>
         <div class="data">
             <h3><%=i.department_name%></h3>
             <a class="infoLink" href="/dep/<%=i.id%>">More Info</a>
             <a class="editLink" href="/dep/<%=i.id%>/edit">Edit</a>
             <form method="POST" action="/dep/<%=i.id%>?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
         </div>
         <% } %>

    </div>
    <%- include ('../partials/end') %>